* {
  transition: all 0.3s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
body {
  background: white;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-display: swap;
  font-size: 16px;
  text-align: center;
  color: #333;
}
@font-face {
  font-family: "Roboto", sans-serif;
  font-display: swap;
}
a {
  color: black;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
em {
  font-family: "Poiret One", cursive;
  font-display: swap;
}
h3 {
  font-weight: 100;
  font-size: 0.75em;
}
.em {
  font-weight: 100;
  font-style: italic;
}
.link_anim {
  transition: all 0.25s ease-in-out;
}
.link_anim:hover {
  transition: all 0.25s ease-in-out;
  font-size: 1.25em;
  transform: scale(1.25);
}
blockquote {
  display: block;
  font-size: 1.25em;
  margin: 2em 1.5em;
  text-align: center;
  font-family: "Poiret One", cursive;
}
.four0four {
  height: auto;
}
.four0four a:hover {
  font-size: 2em;
}

section .content h2{
  margin-top: 2.5em;
  line-height: 200%;
}

/* HEADER */

#header {
  width: 100%;
  background: #333;
  transition: all 0.25s ease-in-out;
}

nav {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em 0;
}

.logo {
  background: url("../images/maco_logo_white.svg") center center no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  grid-row: 1/3;
  margin-bottom: .75rem;
}
.logo a {
  height: 100%;
  width: 100%;
}
.logo:hover {
  transition: all 0.25s ease-in-out;
  transform: scale(1.1);
}

.section_links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  gap: 1rem;
  line-height: 40px;
  grid-row: 3/4;
}

.nav_link {
  cursor: pointer;
  color: white;
  transition: all 0.25s ease-in-out;
}
.nav_link:hover {
  transition: all 0.25s ease-in-out;
  transform: scale(1.1);
}

.insta_link {
  background: -webkit-linear-gradient(
    45deg,
    rgba(195, 42, 163, 1) 0%,
    rgba(76, 95, 215, 1) 25%,
    rgba(114, 50, 189, 1) 50%,
    rgba(244, 111, 48, 1) 75%,
    rgba(255, 220, 125, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.insta_link:hover {
  background: -webkit-linear-gradient(
    -135deg,
    rgba(195, 42, 163, 1) 0%,
    rgba(76, 95, 215, 1) 25%,
    rgba(114, 50, 189, 1) 50%,
    rgba(244, 111, 48, 1) 75%,
    rgba(255, 220, 125, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.reverb_link {
  color: #f6870f;
}
.reverb_link:hover {
  color: #444;
}

/* HERO */

#hero {
  padding: 0;
  margin: 0;
  min-height: 100px;
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
}
#hero img{
  width: 100%;
}


/* CONTENT */

.content {
  margin: 0 auto;
  width: calc(95% - 1em);
  font-size: 1.25em;
  padding: 0.5em;
  text-align: left;
}
.about_content img {
  max-width: 100%;
}

.conten .for-sale-photos p em{
  text-align: center;
}
.for-sale-photos img{
  width: 100%;
}

/* FOOTER */

footer {
  position: relative;
  width: 100%;
  min-height: 30px;
  padding: 2em 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
footer .links {
  font-size: 2em;
  margin-bottom: 0.5em;
  line-height: 30px;
}
.links a {
  margin: 0 0.5em;
}
.links a:hover {
  cursor: pointer;
  font-size: 1.25em;
}
footer .sub {
  font-size: 0.8em;
  color: white;
}

/* active styles */

/* MODAL */
#modalBG {
  display: grid;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  background: rgba(0, 0, 0, 0.9);
  grid-template: 1fr 1fr;
  justify-content: center;
  align-content: center;
  z-index: 110;
  color: rgba(0, 0, 0, 0.75);
  cursor: zoom-out;
  padding: 2em;
}
#modalImg {
  width: 100%;
  height: auto;
}

.show {
  opacity: 1;
  transition: opacity 1000ms;
}

.hide {
  opacity: 0;
  transition: opacity 1000ms;
}
