<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MaCo Guitars - Founders Sale</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="fullBg"></div>

    <header>
      <nav>
        <a href="/" class="logo"></a>
        <div class="section_links">
          <span class="nav_link">
            <a href="/">Anywhere</a>
          </span>
          <span class="nav_link">
            <a href="/">But</a>
          </span>
          <span class="nav_link">
            <a href="/">Here</a>
          </span>
        </div>
      </nav>
    </header>

    <section class="four0four">
      <div class="content">
        <h2>Ouch. That... hurt.</h2>
        <p>
          The page you tried to reach doesn't seem to be where we think you
          might have thought it was.
        </p>
        <p>
          Try going back to the <a href="/">HOME</a> page and see if you can
          find what you were looking for but didn't find here.
        </p>
        <p>Thanks!</p>
      </div>
    </section>

    <footer>
      <div class="links">
        <a href="mailto:maco.guitars@gmail.com" target="_blank">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/macoguitars" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="sub">
        &copy; MaCo Guitars, 2019. All rights reserved.
      </div>
      <div class="sub">
        Any unauthorized use is prohibited.
      </div>
    </footer>
    <script src="/client/static/js/funStuff.js"></script>
  </body>
</html>
