<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="A custom-made, unique vehicle for your musical expression."
    />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="MaCo Guitars" />
    <meta
      property="og:description"
      content="A custom-made, unique vehicle for your musical expression."
    />
    <meta property="og:url" content="http://www.macoguitars.com/" />
    <meta property="og:site_name" content="MaCo Guitars" />
    <meta
      property="og:image"
      content="http://www.macoguitars.com/images/guitars/small/casseopeia/2.jpg"
    />
    <title>MaCo Guitars</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link
      rel="style"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap"
      rel="style"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap"
      rel="style"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-l.css" />
  </head>
  <body>
    <header id="header">
      <nav>
        <a href="/" class="logo"></a>
        <div class="section_links">
          <%- include nav.ejs %>
        </div>
      </nav>
    </header>

    <section id="hero">
      <img alt="ATLAS 6 Semi-Hollow" src="/images/guitars/Atlas6SH.jpg" srcset="/images/guitars/Atlas6SHsmall.jpg 767w, /images/guitars/Atlas6SH.jpg 768w" sizes=“(min-width: 768px) 767px, 100vw">
    </section>

    <section id="about">
      <div class="content">
        <h2>About MaCo Guitars</h2>
        <h4 class="em">
          <blockquote>
            "A unique vehicle for your musical expression."
          </blockquote>
        </h4>
        <div class="about_content">
          <img
            loading="lazy"
            src="/images/guitars/ATLAS6STD_Proto1.jpg"
            alt="ATLAS 6 Standard - Prototype #1"
          />
          <p>
            My name is Mathew Cohen - a tinkerer, builder, woodworker, maker of
            things - and MaCo Guitars was born of my love for music.
          </p>
          <p>
            With over 20 years of experience as a touring musician and recording
            engineer, I know what it takes to sound great on stage and in the
            studio.
          </p>
          <p>
            Carefully crafted, each instrument is designed and built to give the
            player complete control of their sonic landscape while looking
            absolutely stunning. In making a high quality, custom instrument it
            only makes sense that each one is comprised of the best domestic and
            exotic woods, electronics, and materials available.
          </p>
          <p>
            To achieve the level of craftsmanship I strive for, I make a limited
            number of instruments each year. Doing so allows absolute focus and
            attention to detail while creating a unique vehicle for your musical
            expression. Because it is the little things that make big things
            happen, not a single instrument leaves my shop without meeting my
            high standards and desire to deliver beyond expectations.
          </p>
        </div>
      </div>
    </section>

    <% include footer.ejs %>
    <script src="/client/static/js/funStuff.js"></script>
  </body>
</html>
