<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="A custom-made, unique vehicle for your musical expression."
    />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="MaCo Guitars" />
    <meta
      property="og:description"
      content="A custom-made, unique vehicle for your musical expression."
    />
    <meta property="og:url" content="http://www.macoguitars.com/" />
    <meta property="og:site_name" content="MaCo Guitars" />
    <meta
      property="og:image"
      content="http://www.macoguitars.com/images/guitars/small/casseopeia/2.jpg"
    />
    <title>MaCo Guitars - ATLAS</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link
      rel="style"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap"
      rel="style"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap"
      rel="style"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-l.css" />
  </head>
  <body>
    <header id="header">
      <nav>
        <a href="/" class="logo"></a>
        <div class="section_links">
          <%- include nav.ejs %>
        </div>
      </nav>
    </header>

    <section id="hero">
      <img alt="ATLAS 6 Semi-Hollow" src="/images/guitars/Atlas6SH.jpg" srcset="/images/guitars/Atlas6SH_small.jpg 767w, /images/guitars/Atlas6SH.jpg 768w" sizes=“(min-width: 768px) 767px, 100vw">
    </section>

    <section id="guitars">
      <div class="content">
        <h2>ATLAS</h2>
        <blockquote>
          Inspired by the classic,
          </br>
          influenced by the modern
        </blockquote>
        <div class="guitars-about-blurb">
          <p>
            The <strong>ATLAS</strong> model is an original design 
            that puts playability, style, and tone at the forefront of 
            its purpose.
          </p>
          <p>
            <strong>Comfort:</strong> Featuring a narrower waist and smaller upper bout than 
            more traditional body shapes.
          </p>
          <p>
            <strong>Ergonomics:</strong> A generous lower bout curve allowing the player to 
            play seated, in classical position or propped up on one leg 
            while standing for those epic live poses.
          </p>
          <p>
            <strong>Playability:</strong> A shallow neck recess and scoop to allow for ease 
            of upper access to all 24 frets.
          </p>
          <p>
            <small>
              Pictured: ATLAS 6 Standard, ATLAS 6 Semi-Hollow, ATLAS 6 Headless, and ATLAS 6 Electro-Acoustic
            </small>
          </p>
        </div>
        <div class="model-about">
          <div class="model-photos">
            <img loading="lazy" src="/images/guitars/atlas/ATLAS6STD_BurlProto1.jpg" alt="Atlas 6 Standard - Burl Prototype #1" />
            <img loading="lazy" src="/images/guitars/atlas/ATLAS6SH_Royal.jpg" alt="Atlas 6 Semi-Hollow - Royal" />
            <img loading="lazy" src="/images/guitars/atlas/ATLAS6STD_Myrtle.jpg" alt="Atlas 6 Standard - Myrtle" />
            <img loading="lazy" src="/images/guitars/atlas/ATLAS6H_BurlProto1.jpg" alt="Atlas 6 Headless - Burl Prototype #1" />
            <img loading="lazy" src="/images/guitars/atlas/ATLAS6H_BlackProto.jpg" alt="Atlas 6 Headless - Black Prototype" />
            <img loading="lazy" src="/images/guitars/atlas/ATLAS6H_Walnut.jpg" alt="Atlas 6 Headless - Walnut" />
            <img loading="lazy" src="/images/guitars/atlas/ATLAS6EA.jpg" alt="Atlas 6 Electro-Acoustic" />
          </div>
        </div>
      </div>
    </section>

    <% include footer.ejs %>
    <script src="/client/static/js/funStuff.js"></script>
  </body>
</html>
