<form action="" method="POST">
  <input name="firstname" placeholder="First Name" required />
  <input name="lastname" placeholder="Last Name" required />
  <input name="email" placeholder="Email" required />
  <input name="" placeholder="" required />
  <input name="" placeholder="" required />
  <textarea name="" placeholder="Optional Information"></textarea>
</form>
