<footer>
  <div class="links">
    <a href="mailto:maco.guitars@gmail.com" target="_blank">
      <i class="fa fa-envelope"></i>
    </a>
    <a href="https://www.instagram.com/macoguitars" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
  </div>
  <div id="dateCopyright" class="sub"></div>
  <div class="sub">
    Any unauthorized use is prohibited.
  </div>
</footer>