<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MaCo Guitars</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="fullBg"></div>

    <header>
      <nav>
        <a href="/" class="logo"></a>
        <div class="section_links">
          <span id="about_link" class="nav_link" onclick="scrollToEl(about)">
            About
          </span>
          <span id="photos_link" class="nav_link" onclick="scrollToEl(photos)">
            Photos
          </span>
          <span id="custom_link" class="nav_link" onclick="scrollToEl(custom)">
            Custom
          </span>
        </div>
      </nav>
    </header>

    <div id="hero">
      <a href="/founders-sale/first-five">
        <div id="hero1"></div>
        <div id="hero2"></div>
        <div class="content">
          <h4 class="em">
            <blockquote>
              "If you really love a guitar, it just sounds better."
            </blockquote>
          </h4>
          <div class="sale-message">
            click to view guitars for sale
          </div>
        </div>
      </a>
    </div>

    <section id="about">
      <div class="content">
        <h2>About MaCo Guitars</h2>
        <h4 class="em">
          <blockquote>
            "A unique vehicle for your musical expression."
          </blockquote>
        </h4>
        <div class="about_content">
          <img
            loading="lazy"
            src="/images/guitars/small/casseopeia/7.jpg"
            alt="Casseopeia"
          />
          <p>
            My name is Mathew Cohen - a tinkerer, builder, woodworker, maker of
            things - and MaCo Guitars was born of my love for music.
          </p>
          <p>
            With over 20 years of experience as a touring musician and recording
            engineer, I know what it takes to sound great on stage and in the
            studio.
          </p>
          <p>
            Carefully crafted, I design and build each instrument to give the
            player complete control of their sonic landscape while looking
            absolutely stunning. In making a high quality, custom instrument it
            only makes sense that each one is comprised of the best domestic and
            exotic woods, electronics, and materials available.
          </p>
          <p>
            To acheieve the level of craftsmanship I strive for, I make a
            limited number of instruments each year. Doing so allows absolute
            focus and attention to detail while creating a unique vehicle for
            your musical expression. Because it is the little things that make
            big things happen, not a single instrument leaves my shop without
            meeting my high standards and desire to deliver beyond expectations.
          </p>
        </div>
      </div>
    </section>

    <section id="photos">
      <div class="content">
        <h2>Photos</h2>
        <p>
          <a
            class="insta_link"
            href="https://www.instagram.com/macoguitars"
            target="_blank"
          >
            @macoguitars
          </a>
          on
          <a
            class="insta_link"
            href="https://www.instagram.com/macoguitars"
            target="_blank"
          >
            <i class="fa fa-instagram"></i> Instagram
          </a>
        </p>
        <div class="photos">
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/andromeda/3.jpg"
            src="/images/guitars/small/andromeda/3.jpg"
            alt="andromeda"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/casseopeia/3.jpg"
            src="/images/guitars/small/casseopeia/3.jpg"
            alt="casseopeia"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/hera/6.jpg"
            src="/images/guitars/small/hera/6.jpg"
            alt="hera"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/pegasus/3.jpg"
            src="/images/guitars/small/pegasus/3.jpg"
            alt="pegasus"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/tele/5.jpg"
            src="/images/guitars/small/tele/5.jpg"
            alt="tele"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/casseopeia/2.jpg"
            src="/images/guitars/small/casseopeia/2.jpg"
            alt="casseopeia"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/pegasus/5.jpg"
            src="/images/guitars/small/pegasus/5.jpg"
            alt="pegasus"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/hera/5.jpg"
            src="/images/guitars/small/hera/5.jpg"
            alt="hera"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/andromeda/6.jpg"
            src="/images/guitars/small/andromeda/6.jpg"
            alt="andromeda"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/tele/15.jpg"
            src="/images/guitars/small/tele/15.jpg"
            alt="tele"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/pegasus/7.jpg"
            src="/images/guitars/small/pegasus/7.jpg"
            alt="pegasus"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/casseopeia/7.jpg"
            src="/images/guitars/small/casseopeia/7.jpg"
            alt="casseopeia"
          />
        </div>
      </div>
    </section>
    <section id="custom">
      <div class="content">
        <h2>Instrument Order Form</h2>
        <p>Coming Soon!</p>
        <p>
          Feel free to send me an email to get started on your dream instrument!
        </p>
        <p>
          <a class="em link_anim" href="mailto:maco.guitars@gmail.com">
            maco.guitars@gmail.com
          </a>
        </p>
      </div>
    </section>

    <%- include modal.ejs %>

    <footer>
      <div class="links">
        <a href="mailto:maco.guitars@gmail.com" target="_blank">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/macoguitars" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="sub">
        &copy; MaCo Guitars, 2019. All rights reserved.
      </div>
      <div class="sub">
        Any unauthorized use is prohibited.
      </div>
    </footer>
    <script src="/client/static/js/funStuff.js"></script>
    <script src="/client/static/js/heroFader.js"></script>
  </body>
</html>
