<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="A custom-made, unique vehicle for your musical expression."
    />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="MaCo Guitars" />
    <meta
      property="og:description"
      content="A custom-made, unique vehicle for your musical expression."
    />
    <meta property="og:url" content="http://www.macoguitars.com/" />
    <meta property="og:site_name" content="MaCo Guitars" />
    <meta
      property="og:image"
      content="http://www.macoguitars.com/images/guitars/small/casseopeia/2.jpg"
    />
    <title>MaCo Guitars</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link
      rel="style"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap"
      rel="style"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap"
      rel="style"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="fullBg"></div>

    <header id="header">
      <nav>
        <a href="/" class="logo"></a>
        <div class="section_links">
          <span id="about_link" class="nav_link" onclick="scrollToEl(about)">
            About
          </span>
          <span id="custom_link" class="nav_link" onclick="scrollToEl(forSale)">
            For Sale
          </span>
          <span id="photos_link" class="nav_link" onclick="scrollToEl(photos)">
            Photos
          </span>
          <span id="photos_link" class="nav_link" onclick="scrollToEl(order)">
            Order
          </span>
          <a
            href="https://www.instagram.com/macoguitars"
            class="nav_link insta_link"
            target="_blank"
          >
            Instagram
          </a>
          <a
            href="https://www.reverb.com/shop/macoguitars"
            class="nav_link reverb_link"
            target="_blank"
          >
            Reverb
          </a>
        </div>
      </nav>
    </header>

    <section id="about">
      <div class="content">
        <h2>About MaCo Guitars</h2>
        <h4 class="em">
          <blockquote>
            "A unique vehicle for your musical expression."
          </blockquote>
        </h4>
        <div class="about_content">
          <img
            loading="lazy"
            src="/images/guitars/small/casseopeia/7.jpg"
            alt="Casseopeia"
          />
          <p>
            My name is Mathew Cohen - a tinkerer, builder, woodworker, maker of
            things - and MaCo Guitars was born of my love for music.
          </p>
          <p>
            With over 20 years of experience as a touring musician and recording
            engineer, I know what it takes to sound great on stage and in the
            studio.
          </p>
          <p>
            Carefully crafted, each instrument is designed and built to give the
            player complete control of their sonic landscape while looking
            absolutely stunning. In making a high quality, custom instrument it
            only makes sense that each one is comprised of the best domestic and
            exotic woods, electronics, and materials available.
          </p>
          <p>
            To achieve the level of craftsmanship I strive for, I make a limited
            number of instruments each year. Doing so allows absolute focus and
            attention to detail while creating a unique vehicle for your musical
            expression. Because it is the little things that make big things
            happen, not a single instrument leaves my shop without meeting my
            high standards and desire to deliver beyond expectations.
          </p>
        </div>
      </div>
    </section>

    <section id="forSale">
      <div class="content">
        <h2>For Sale</h2>
        <div class="for-sale-content">
          Guitars Currently Available: None
        </div>
      </div>
    </section>

    <section id="photos">
      <div class="content">
        <h2>Photos</h2>
        <div class="photos">
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/andromeda/3.jpg"
            src="/images/guitars/small/andromeda/3.jpg"
            alt="andromeda"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/casseopeia/3.jpg"
            src="/images/guitars/small/casseopeia/3.jpg"
            alt="casseopeia"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/hera/6.jpg"
            src="/images/guitars/small/hera/6.jpg"
            alt="hera"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/pegasus/3.jpg"
            src="/images/guitars/small/pegasus/3.jpg"
            alt="pegasus"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/tele/5.jpg"
            src="/images/guitars/small/tele/5.jpg"
            alt="tele"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/casseopeia/2.jpg"
            src="/images/guitars/small/casseopeia/2.jpg"
            alt="casseopeia"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/pegasus/5.jpg"
            src="/images/guitars/small/pegasus/5.jpg"
            alt="pegasus"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/hera/5.jpg"
            src="/images/guitars/small/hera/5.jpg"
            alt="hera"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/andromeda/6.jpg"
            src="/images/guitars/small/andromeda/6.jpg"
            alt="andromeda"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/tele/15.jpg"
            src="/images/guitars/small/tele/15.jpg"
            alt="tele"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/pegasus/7.jpg"
            src="/images/guitars/small/pegasus/7.jpg"
            alt="pegasus"
          />
          <img
            loading="lazy"
            class="gtr_th"
            onclick="placeImgInModal(this)"
            data-img-src="/images/guitars/large/casseopeia/7.jpg"
            src="/images/guitars/small/casseopeia/7.jpg"
            alt="casseopeia"
          />
        </div>
      </div>
    </section>

    <section id="order">
      <div class="content">
        <h2>Instrument Order Forms</h2>
        <h3>
          Click on your favorite model below to fill out a custom order form. A
          quote will be emailed to you within 48 hours.
        </h3>
        <div class="for-sale-photos">
          <div>
            <p>ATLAS 6 Standard</p>
            <a href="">
              <img
                loading="lazy"
                src="/images/guitars/small/pegasus/7.jpg"
                alt="pagasus"
              />
            </a>
          </div>
          <div>
            <p>ATLAS 6 Standard Headless</p>
            <a href="">
              <img
                loading="lazy"
                src="/images/guitars/small/casseopeia/3.jpg"
                alt="casseopeia"
              />
            </a>
          </div>
          <div>
            <p>ATLAS 6 Electro-Acoustic</p>
            <a href="">
              <img
                loading="lazy"
                src="/images/guitars/small/andromeda/3.jpg"
                alt="andromeda"
              />
            </a>
          </div>
          <div>
            <p>ATLAS 7 Standard<br />(Coming Soon)</p>
            <img
              loading="lazy"
              src="/images/guitars/small/pegasus/7.jpg"
              alt="pagasus"
            />
          </div>
          <div>
            <p>ATLAS 7 Standard Headless<br />(Coming Soon)</p>
            <img
              loading="lazy"
              src="/images/guitars/small/casseopeia/3.jpg"
              alt="casseopeia"
            />
          </div>
          <div>
            <p>ATLAS 7 Multi-Scale<br />(Coming Soon)</p>
            <img
              loading="lazy"
              src="/images/guitars/small/andromeda/3.jpg"
              alt="andromeda"
            />
          </div>
        </div>
      </div>
    </section>

    <%- include modal.ejs %>

    <footer>
      <div class="links">
        <a href="mailto:maco.guitars@gmail.com" target="_blank">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/macoguitars" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div id="dateCopyright" class="sub"></div>
      <div class="sub">
        Any unauthorized use is prohibited.
      </div>
    </footer>
    <script src="/client/static/js/funStuff.js"></script>
  </body>
</html>
