<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MaCo Guitars</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="fullBg"></div>
    <header>
      <nav>
        <div class="logo"></div>
        <div></div>
        <div class="section_links">
          <span class="nav_link"><a href="#top">About</a></span>
          <span class="nav_link"><a href="#photos">Photos</a></span>
          <span class="nav_link"><a href="#custom">Custom</a></span>
        </div>
      </nav>
    </header>
    <!-- <section id="hero">
      <div class="content"></div>
    </section> -->
    <section id="about">
      <div class="content">
        <h2>About MaCo Guitars</h2>
        <h4 class="em">If you really love a guitar, it just sounds better.</h4>
        <p>
          Hey, my name is Mathew Cohen and I am MaCo
          <span class="em">[may-koh]</span> Guitars.
        </p>
        <p>
          I've been a maker and builder of things for much of my life and I have
          20+ years combined experience as a touring musician and recording
          engineer but I did not start building my own guitars until 2018.
          Weird, right?
        </p>
        <p>
          My shop is located in the beautiful Greater Seattle Area and I prefer
          to use the best quality woods and materials I can get my hands on to
          build one of a kind instruments.
        </p>
        <p>
          In short, I make custom guitars and basses and I'd like to make one
          (or more) for you... because let's face it - if you really love a
          guitar, it just sounds better.
        </p>
      </div>
    </section>
    <section id="photos">
      <div class="content">
        <h2>Photos</h2>
        <p>Photos Coming Soon!</p>
        <p>
          In the meantime, follow me on
          <a href="https://www.instagram.com/macoguitars" target="_blank">
            <i class="fa fa-instagram"></i> Instagram
          </a>
        </p>
        <!-- <div class="photos">
          <div class="photo"></div>
          <div class="photo"></div>
          <div class="photo"></div>
          <div class="photo"></div>
          <div class="photo"></div>
          <div class="photo"></div>
        </div> -->
      </div>
    </section>
    <section id="custom">
      <div class="content">
        <h2>Instrument Order Form</h2>
        <p>Coming Soon!</p>
      </div>
    </section>
    <footer>
      <div class="links">
        <a href="mailto:maco.guitars@gmail.com" target="_blank">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/macoguitars" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="sub">&copy; 2019 MaCo Guitars</div>
    </footer>

    <!-- <div id="modalBG">
      <div class="modal">
        <div id="closeModal">close X</div>
        <%- include customForm.ejs %>
      </div>
    </div> -->
    <!-- <script src="js/funStuff.js"></script> -->
  </body>
</html>
