<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MaCo Guitars</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="fullBg"></div>

    <header>
      <nav>
        <div class="logo"></div>
        <div class="hamburger">
          <div class="ham1"></div>
          <div class="ham2"></div>
          <div class="ham3"></div>
        </div>
        <div class="section_links">
          <span id="about_link" class="nav_link" onclick="scrollToEl(about)">
            About
          </span>
          <span id="photos_link" class="nav_link" onclick="scrollToEl(photos)">
            Photos
          </span>
          <span id="custom_link" class="nav_link" onclick="scrollToEl(custom)">
            Custom
          </span>
        </div>
      </nav>
    </header>

    <!-- <section id="hero">
      <div class="content">
        <h4 class="em">
          <blockquote>
            "If you really love a guitar, it just sounds better."
          </blockquote>
        </h4>
      </div>
		</section> -->

    <section id="about">
      <div class="content">
        <h2>About MaCo Guitars</h2>
        <h4 class="em">
          <blockquote>
            "A unique vehicle for your musical expression."
            <!-- "It is the little things that make big things happen." -->
          </blockquote>
        </h4>
        <div class="about_content">
          <img src="images/1.jpg" alt="1" />
          <p class="">
            My name is Mathew Cohen - a tinkerer, builder, woodworker, maker of
            things - and MaCo Guitars was born of my love for music.
          </p>
          <p>
            With over 20 years of experience as a touring musician and recording
            engineer, I know what it takes to sound great on stage and in the
            studio.
          </p>
          <p>
            Carefully crafted, I design and build each instrument to give the
            player complete control of their sonic landscape while looking
            absolutely stunning. In making a high quality, custom instrument it
            only makes sense that each one is comprised of the best domestic and
            exotic woods, electronics, and materials available.
          </p>
          <p>
            To acheieve the level of craftsmanship I strive for, I make a
            limited number of instruments each year. Doing so allows absolute
            focus and attention to detail while creating a unique vehicle for
            your musical expression. Because it is the little things that make
            big things happen, not a single instrument leaves my shop without
            meeting my high standards and desire to deliver beyond expectations.
          </p>
        </div>
      </div>
    </section>

    <section id="photos">
      <div class="content">
        <h2>Photos</h2>
        <p>Photos Coming Soon!</p>
        <p>
          In the meantime, follow me on
          <a
            class="insta_link"
            href="https://www.instagram.com/macoguitars"
            target="_blank"
          >
            <i class="fa fa-instagram"></i> Instagram
          </a>
        </p>
        <!-- <div class="photos">
          <div class="photo"></div>
          <div class="photo"></div>
          <div class="photo"></div>
          <div class="photo"></div>
          <div class="photo"></div>
          <div class="photo"></div>
        </div> -->
      </div>
    </section>
    <section id="custom">
      <div class="content">
        <h2>Instrument Order Form</h2>
        <p>Coming Soon!</p>
        <p>
          Feel free to send me an email to get started on your dream instrument!
        </p>
        <p>
          <a class="em link_anim" href="mailto:maco.guitars@gmail.com">
            maco.guitars@gmail.com
          </a>
        </p>
      </div>
    </section>

    <footer>
      <div class="links">
        <a href="mailto:maco.guitars@gmail.com" target="_blank">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/macoguitars" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="sub">
        &copy; MaCo Guitars, 2019. All rights reserved.
      </div>
      <div class="sub">
        Any unauthorized use is prohibited.
      </div>
    </footer>
    <script src="/client/static/js/funStuff.js"></script>
  </body>
</html>
