<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>MaCo Guitars</title>
		<style>
			body {
				background: black;
				padding: 0;
				margin: 0;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 16px;
				text-align: center;
			}
			a{
				color: #cdcdcd;
			}
			.comingsoon {
				display: flex;
				height: 100vh;
				align-items: center;
				justify-content: center;
				font-size: 2.5em;
				color: #cdcdcd;
			}
		</style>
	</head>
	<body>
		<div class="comingsoon">
			<div>MaCo Guitars</br>Coming Soon</br>
				<a
					class="instaLink"
					href="https://www.instagram.com/macoguitars"
					target="_blank"
					rel="noopener"
					title="MaCo Guitars Instagram"
				>
					<i class="fa fa-instagram" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<script src="https://use.fontawesome.com/68210da710.js"></script>
	</body>
</html>
