<a class="nav_link" href="/guitars/atlas">
  Guitars
</a>
<a class="nav_link" href="/for-sale">
  For Sale
</a>
<a
  href="https://www.instagram.com/macoguitars"
  class="nav_link insta_link"
  target="_blank"
>
  Instagram
</a>
<a
  href="https://www.reverb.com/shop/macoguitars"
  class="nav_link reverb_link"
  target="_blank"
>
  Reverb
</a>