<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="A custom-made, unique vehicle for your musical expression."
    />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="MaCo Guitars" />
    <meta
      property="og:description"
      content="A custom-made, unique vehicle for your musical expression."
    />
    <meta property="og:url" content="http://www.macoguitars.com/" />
    <meta property="og:site_name" content="MaCo Guitars" />
    <meta
      property="og:image"
      content="http://www.macoguitars.com/images/guitars/small/casseopeia/2.jpg"
    />
    <title>MaCo Guitars - Founders Sale</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="fullBg"></div>

    <header>
      <nav class="firstFive">
        <a href="/" class="logo"></a>
        <div class="section_links">
          <span class="nav_link" onclick="scrollToEl(hera)">
            Hera
          </span>
          <span class="nav_link" onclick="scrollToEl(tele)">
            Tele
          </span>
          <span class="nav_link" onclick="scrollToEl(pegasus)">
            Pegasus
          </span>
          <span class="nav_link" onclick="scrollToEl(casseopeia)">
            Casseopeia
          </span>
          <span class="nav_link" onclick="scrollToEl(andromeda)">
            Andromeda
          </span>
        </div>
      </nav>
    </header>

    <section id="firstFivePhotos">
      <div class="content">
        <h2>First 5 Builds</h2>
        <h4 class="em">
          <blockquote>
            "It is the little things that make big things happen."
          </blockquote>
        </h4>

        <div class="guitar_container" id="hera">
          <div class="guitar_info">
            <h2>Hera</h2>
            <p>
              This amazingly versatile instrument features a three piece Swamp
              Ash body and Ziricote top, Canadian Rock Maple neck, and Rosewood
              fingerboard as the basis for it's aesthetic. The finish coat is
              made up of many, many layers of a hardening oil applied in a
              French Polish technique applied one coat at a time over the course
              of two weeks. This process allows the visible high gloss finish
              without the need to buff and shine. So far, this is my favorite
              finish.
            </p>
            <p>
              I have always been curious about P90 pickups, so I looked for a
              set of humbucker sized set just in case I didn't like the sound
              and wanted to swap them out. This guitar, with these pickups, is
              similar to a thicker sounding Telecaster® style configuration.
              Tons of tone on tap without burying or muddying the dynamics of
              your playing style!
            </p>
            <p>
              I knew from the beginning that I wanted to outfit this guitar with
              gold hardware, so I decided to go with a set of Wilkinson® tuners
              and a matching, shortened Wilkinson® T-Style bridge. The output
              jack is a Telecaster® style ElectroSocket retrofit. This guitar
              also features a Graphtech® TUSQ XL nut and a 3-way pickup
              selector.
            </p>
            <p>Weight: 6lbs 1oz</p>
            <p>Price: $1000</p>
          </div>
          <div class="guitar_photos_container">
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/hera/1.jpg"
              src="/images/guitars/small/hera/1.jpg"
              alt="hera"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/hera/2.jpg"
              src="/images/guitars/small/hera/2.jpg"
              alt="hera"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/hera/3.jpg"
              src="/images/guitars/small/hera/3.jpg"
              alt="hera"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/hera/4.jpg"
              src="/images/guitars/small/hera/4.jpg"
              alt="hera"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/hera/5.jpg"
              src="/images/guitars/small/hera/5.jpg"
              alt="hera"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/hera/6.jpg"
              src="/images/guitars/small/hera/6.jpg"
              alt="hera"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/hera/7.jpg"
              src="/images/guitars/small/hera/7.jpg"
              alt="hera"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/hera/8.jpg"
              src="/images/guitars/small/hera/8.jpg"
              alt="hera"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/hera/9.jpg"
              src="/images/guitars/small/hera/9.jpg"
              alt="hera"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/hera/10.jpg"
              src="/images/guitars/small/hera/10.jpg"
              alt="hera"
            />
          </div>
        </div>
        <div class="guitar_container" id="tele">
          <div class="guitar_info">
            <h2>Tele</h2>
            <p>
              If you've played guitar for any significant amount of time, you
              know that Telecaster®s are a bar by which all others are measured.
              So I made one... but not a typical one.
            </p>
            <p>
              I started with a three piece Mahogany body, a Canadian Rock Maple
              neck, and Rosewood fingerboard. I always wanted to experience
              playing a guitar with a chamfered top, so I added that to the list
              of items to make this one stand out from others. I attempted
              another aesthetic by using the chamfer as a separator between the
              orange colored face and the darker brown back and sides. I
              finished it off with the same hardening oil French Polish
              technique I used on my previous build. Shiny and purty this one
              is!
            </p>
            <p>
              The rest of the appointments are typical Telecaster® faire. Though
              I would like to upgrade the tuners, saddles, and pickups to suit
              the buyers preference. Upgrades would be made at buyers
              request/expense.
            </p>
            <p>Weight: 7lbs 5oz</p>
            <p>Price: $600</p>
          </div>
          <div class="guitar_photos_container">
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/tele/1.jpg"
              src="/images/guitars/small/tele/1.jpg"
              alt="tele"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/tele/2.jpg"
              src="/images/guitars/small/tele/2.jpg"
              alt="tele"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/tele/3.jpg"
              src="/images/guitars/small/tele/3.jpg"
              alt="tele"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/tele/4.jpg"
              src="/images/guitars/small/tele/4.jpg"
              alt="tele"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/tele/5.jpg"
              src="/images/guitars/small/tele/5.jpg"
              alt="tele"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/tele/6.jpg"
              src="/images/guitars/small/tele/6.jpg"
              alt="tele"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/tele/7.jpg"
              src="/images/guitars/small/tele/7.jpg"
              alt="tele"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/tele/8.jpg"
              src="/images/guitars/small/tele/8.jpg"
              alt="tele"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/tele/9.jpg"
              src="/images/guitars/small/tele/9.jpg"
              alt="tele"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/tele/10.jpg"
              src="/images/guitars/small/tele/10.jpg"
              alt="tele"
            />
          </div>
        </div>
        <div class="guitar_container" id="pegasus">
          <div class="guitar_info">
            <h2>Pegasus</h2>
            <p>
              There is a lot of speculation and/or mojo associated with heavy,
              LP style guitars. That is where the Pegasus comes in.
            </p>
            <p>
              This beast of a guitar is made from a two piece, bookmatched
              Mahogany body, Canadian Hard Rock Maple neck with a Maple
              fingerboard, and features square fretboard inlays. This guitar was
              a testbed in many regards and is the only one thus far to be
              completely hand sanded and countoured - every curve on this body
              was done by hand. The blackened sides and curves (and headstock
              faces) were a happy accident that I ran with and I absolutely love
              it! I will surely attempt this look on future guitars! I also
              learned how NOT to apply a polyurethane finish on this guitar,
              which is why I dub this guitar my perfectly imperfect creation.
            </p>
            <p>
              I had a custom set of humbuckers kicking around that are HOT, HOT,
              HOT and fit the black aesthetic this guitar craved. Accompanied by
              a set of 3x3 tuners from Wilkinson®, this guitar is also the first
              guitar to feature my own headstock design.
            </p>
            <p>
              The output jack is a Telecaster® style ElectroSocket retrofit and
              also features a Graphtech® TUSQ XL nut, and a 3-way pickup
              selector.
            </p>
            <p>Weight: 9lbs 2oz</p>
            <p>Price: $900</p>
          </div>
          <div class="guitar_photos_container">
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/pegasus/1.jpg"
              src="/images/guitars/small/pegasus/1.jpg"
              alt="pegasus"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/pegasus/2.jpg"
              src="/images/guitars/small/pegasus/2.jpg"
              alt="pegasus"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/pegasus/3.jpg"
              src="/images/guitars/small/pegasus/3.jpg"
              alt="pegasus"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/pegasus/4.jpg"
              src="/images/guitars/small/pegasus/4.jpg"
              alt="pegasus"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/pegasus/5.jpg"
              src="/images/guitars/small/pegasus/5.jpg"
              alt="pegasus"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/pegasus/6.jpg"
              src="/images/guitars/small/pegasus/6.jpg"
              alt="pegasus"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/pegasus/7.jpg"
              src="/images/guitars/small/pegasus/7.jpg"
              alt="pegasus"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/pegasus/8.jpg"
              src="/images/guitars/small/pegasus/8.jpg"
              alt="pegasus"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/pegasus/9.jpg"
              src="/images/guitars/small/pegasus/9.jpg"
              alt="pegasus"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/pegasus/10.jpg"
              src="/images/guitars/small/pegasus/10.jpg"
              alt="pegasus"
            />
          </div>
        </div>
        <div class="guitar_container" id="casseopeia">
          <div class="guitar_info">
            <h2>Casseopeia</h2>
            <p>
              <em>
                "...Fell in love with another burning bright, She dreamed of a
                way to ignite"
              </em>
              <br />Curvy and pointy in all the right places!
            </p>
            <p>
              A gorgeous piece of Black Limba was used as the body wood on this
              build. I also selected a gorgeous maple burl top which didn't make
              the cut due to an unfortunate incident while mating the two
              pieces, so I searched for, and found(!!!), a stunning flamed maple
              top to complement the body. But that wasn't all, I also decided I
              wanted to try my hand at binding this time around and I think that
              went quite well. I finished this guitar in my favorite French
              Polish, hardening oil technique.
            </p>
            <p>
              I've gravitated heavily toward using the 3x3 tuner setup since
              desining my own headstock shape and this guitar is no different.
              Wilkinson® 3x3 tuners, Graphtech® TUSQ XL nut, 3-way pickup
              selector, a pair of PAF style humbuckers, and a beefy hipshot
              style bridge round out the finishing touches on this build.
            </p>
            <p>Weight: 8lbs 8oz</p>
            <p>Price: $1250</p>
          </div>
          <div class="guitar_photos_container">
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/casseopeia/1.jpg"
              src="/images/guitars/small/casseopeia/1.jpg"
              alt="casseopeia"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/casseopeia/2.jpg"
              src="/images/guitars/small/casseopeia/2.jpg"
              alt="casseopeia"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/casseopeia/3.jpg"
              src="/images/guitars/small/casseopeia/3.jpg"
              alt="casseopeia"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/casseopeia/4.jpg"
              src="/images/guitars/small/casseopeia/4.jpg"
              alt="casseopeia"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/casseopeia/5.jpg"
              src="/images/guitars/small/casseopeia/5.jpg"
              alt="casseopeia"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/casseopeia/6.jpg"
              src="/images/guitars/small/casseopeia/6.jpg"
              alt="casseopeia"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/casseopeia/7.jpg"
              src="/images/guitars/small/casseopeia/7.jpg"
              alt="casseopeia"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/casseopeia/8.jpg"
              src="/images/guitars/small/casseopeia/8.jpg"
              alt="casseopeia"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/casseopeia/9.jpg"
              src="/images/guitars/small/casseopeia/9.jpg"
              alt="casseopeia"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/casseopeia/10.jpg"
              src="/images/guitars/small/casseopeia/10.jpg"
              alt="casseopeia"
            />
          </div>
        </div>
        <div class="guitar_container" id="andromeda">
          <div class="guitar_info">
            <h2>Andromeda <span class="sold">sold</span></h2>
            <p>
              The body is made from three pieces of Swamp Ash and the neck is
              made of Canadian Rock Maple and a Rosewood fingerboard. I chose to
              explore an older, aged aesthetic with the darker stain on the back
              and sides of the body and the neck, while simultaneously leaning
              toward a more vintage, retro-futuristic vibe (I know, so many
              ideas at once). My first attempt at guitar finishing resulted in
              my decision to use a hand-rubbed oil finish to produce this satin
              sheen.
            </p>
            <p>
              I stumbled upon a set of vintage Filtertron inspired pickups and
              wired them to utilize split/coil-tap functionality. I was very
              surprised at the sound these put out because not only do they
              sound vintagey/chimey on lower gain tones in split/coil-tap mode,
              but they growl in hum configuration and sound amazing with higher
              gain tones.
            </p>
            <p>
              Rounding off the guitar is a set of Fender® locking tuners, a
              Graphtech® TUSQ XL nut, 3 ply white pearloid pickguard, and a
              vintage inspired modern bridge.
            </p>
            <p>
              I've modded and refinished many guitars, but this was my first
              complete build.
            </p>
            <p>Weight: 7lbs 7oz</p>
          </div>
          <div class="guitar_photos_container">
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/andromeda/1.jpg"
              src="/images/guitars/small/andromeda/1.jpg"
              alt="andromeda"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/andromeda/2.jpg"
              src="/images/guitars/small/andromeda/2.jpg"
              alt="andromeda"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/andromeda/3.jpg"
              src="/images/guitars/small/andromeda/3.jpg"
              alt="andromeda"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/andromeda/4.jpg"
              src="/images/guitars/small/andromeda/4.jpg"
              alt="andromeda"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/andromeda/5.jpg"
              src="/images/guitars/small/andromeda/5.jpg"
              alt="andromeda"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/andromeda/6.jpg"
              src="/images/guitars/small/andromeda/6.jpg"
              alt="andromeda"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/andromeda/7.jpg"
              src="/images/guitars/small/andromeda/7.jpg"
              alt="andromeda"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/andromeda/8.jpg"
              src="/images/guitars/small/andromeda/8.jpg"
              alt="andromeda"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/andromeda/9.jpg"
              src="/images/guitars/small/andromeda/9.jpg"
              alt="andromeda"
            />
            <img
              loading="lazy"
              class="gtr_th"
              onclick="placeImgInModal(this)"
              data-img-src="/images/guitars/large/andromeda/10.jpg"
              src="/images/guitars/small/andromeda/10.jpg"
              alt="andromeda"
            />
          </div>
        </div>
      </div>
    </section>

    <%- include modal.ejs %>

    <footer>
      <div class="links">
        <a href="mailto:maco.guitars@gmail.com" target="_blank">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/macoguitars" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="sub">
        &copy; MaCo Guitars, 2019. All rights reserved.
      </div>
      <div class="sub">
        Any unauthorized use is prohibited.
      </div>
    </footer>
    <script src="/client/static/js/funStuff.js"></script>
  </body>
</html>
