<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="A custom-made, unique vehicle for your musical expression."
    />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="MaCo Guitars" />
    <meta
      property="og:description"
      content="A custom-made, unique vehicle for your musical expression."
    />
    <meta property="og:url" content="http://www.macoguitars.com/" />
    <meta property="og:site_name" content="MaCo Guitars" />
    <meta
      property="og:image"
      content="http://www.macoguitars.com/images/guitars/small/casseopeia/2.jpg"
    />
    <title>MaCo Guitars - Tools</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="fullBg"></div>

    <header>
      <nav class="firstFive">
        <a href="/" class="logo"></a>
        <div class="section_links">
          <span class="nav_link" onclick="scrollToEl(inventory)">
            Shop Inventory
          </span>
          <span class="nav_link" onclick="scrollToEl(somethingElse)">
            Something Else
          </span>
        </div>
      </nav>
    </header>

    <section id="inventory">
      Shop Inventory
    </section>

    <section id="somethingElse">
      Something Else
    </section>

    <footer>
      <div class="links">
        <a href="mailto:maco.guitars@gmail.com" target="_blank">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/macoguitars" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="sub">
        &copy; MaCo Guitars, 2019. All rights reserved.
      </div>
      <div class="sub">
        Any unauthorized use is prohibited.
      </div>
    </footer>
    <script src="/client/static/js/funStuff.js"></script>
  </body>
</html>
